$dark0: #000000;
$dark1: #141414;
$dark2: #1e1e1e;
$dark3: #282828;
$dark4: #323232;
$dark5: #3c3c3c;

$grey: #7d7d7d;

$light0: #ffffff;
$light1: #ebebeb;
$light2: #e1e1e1;
$light3: #d7d7d7;
$light4: #cdcdcd;
$light5: #c3c3c3;

$brilliant-red: #b51c14;
$brilliant-turquoise: #14ADB5;

$breakpoint-s: 320px;
$breakpoint-sm: 480px;
$breakpoint-m: 768px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1920px;
$breakpoint-xxl: 2460px;




