$accent: #014F86;
$accent-light: #78A2C1;
$accent-dark: #01497C;

$color-light: #141414;
$background-light: #eef4fc;
// rgba($accent, 0.2) op background #eef4fc
$block-light: #BED3E5;

$color-dark: #ebebeb;
$background-dark: #001e34;
// rgba($accent, 0.3) op background #001e34
$block-dark: #00385D;

$light2: #e1e1e1;

$mq-s: 320px;
$mq-sm: 480px;
$mq-m: 768px;
$mq-l: 1280px;
$mq-xl: 1920px;
$mq-xxl: 2460px;
