$dark0: #000;
$dark1: #141414;
$dark2: #1e1e1e;
$dark3: #282828;
$dark4: #323232;
$dark5: #3c3c3c;

$light0: #ffffff;
$light1: #dcdcdc;
$light2: #d2d2d2;
$light3: #c8c8c8;
$light4: #bebebe;
$light5: #b4b4b4;

$brilliant-red: #b51c14;
$brilliant-turquoise: #14ADB5;



